@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif,;
}

main {
  min-height: 80vh;
}

.navbar {
  background-color: black;
}

.nav-content{
  padding: 0 40rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}



.nav-bag{
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.bag-quantify {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  position: relative;
  top: 10px;
  background: rgba(173, 226, 240, 0.733);
  border: 1px solid black;
  border-radius: 80%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}




.navbar-brand, .nav-link {
  color: white;
}

.text-home{
  font-size: 30;
}

.card-title{
  color: black;
  text-align: center;
}

a{
  text-decoration: none;
}

.btn_back {
  color: black;
  background-color: #1f68d4ce;
  border: 1px solid #1f68d4ce;
}



.loadingSpinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.loadingSpinner::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 1.2s ease infinite;
}


@keyframes loading {
  from {transform: rotate(0turn);}
  to {transform: rotate(1turn);}
}

.btn-custom {
  color: black;
  background-color: #f1f1f1;
  border: 1px solid #1f68d4ce;
  text-transform: uppercase;
  width: 150px;
  font-size: 13px;
}

.btn-custom::after{
  background-color: black;
  color: white;
}

.btn-logout {
  color: black;
  background-color: #f1f1f1;
  border: 1px solid #1f68d4ce;
  text-transform: uppercase;
  margin-top: 15px;
  width: 80px;
  height: 25px;
  font-size: 13px;
  align-items: center;
  text-align: center;
}

.btn-logout::after{
  background-color: black;
  color: white;
}

